input, textarea {
  border: 1px solid #eee;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3px;
  width: 75%;
  background-color: white;
}

div, form {
  display: flex;
  flex-direction: column;
}

label {
  flex-direction: row;
  margin-top: 5px;
}

li {
  list-style: none;
}

div {
  width: 100%;
}

span {
  margin-right: 5px;
}
